{% extends 'base.html.twig' %}

{% block title %}Qui suis je ? - Carette Axel
{% endblock %}

{% block body %}
	<script>
		AOS.init();
	</script>

	<div data-aos="fade-left">
		<p>
			Salut, je suis Axel Carette, un développeur web diplômé de Saint-Omer, spécialisé dans le développement web et mobile. Avec une solide expérience dans les langages de programmation tels que Bootstrap, CSS, JavaScript, SQL et PHP, ainsi que dans l'utilisation de frameworks comme Symfony, je suis passionné par la création d'expériences utilisateur innovantes et intuitives.
		</p>
	</div>
	<div data-aos="fade-right">
		<p>
			photo
		</p>
	</div>

	<div data-aos="fade-left">
		<p>Photo</p>
	</div>
	<div data-aos="fade-right">
		<p>J'ai une affinité particulière pour le développement front-end, où je mets en œuvre mes compétences en design et en interactivité pour créer des interfaces attrayantes et fonctionnelles. Parallèlement, je suis également à l'aise avec le développement back-end, assurant la robustesse et la performance des applications que je crée.</p>
	</div>

	<div data-aos="fade-left">
		<p>
			Au-delà du développement, je suis également un fervent utilisateur d'outils tels que Figma et Visual Studio Code, et je suis à l'aise dans un environnement Linux. Ma méthodologie de travail est axée sur l'agilité, ce qui me permet d'adapter rapidement mes approches et de livrer des résultats de haute qualité dans des délais serrés.</p>
	</div>
	<div data-aos="fade-right">
		<p>
			photo
		</p>
	</div>

	<div data-aos="fade-right">
		<p>En dehors de ma carrière professionnelle, je suis un créateur de contenu passionné, sur YouTube et Twitch. En tant que père, je jongle entre mes responsabilités familiales et ma passion pour la technologie.</p>
	</div>
	<div data-aos="fade-left">
		<p>
			Photo
		</p>
	</div>

	<div data-aos="fade-left">
		<p>
			Mes centres d'intérêt vont au-delà du développement et incluent le judo, le cinéma, les jeux vidéo et la culture d'Internet. J'adore explorer de nouvelles technologies et suivre les dernières tendances dans le domaine.
		</p>
	</div>
	<div data-aos="fade-right">
		<p>
			photo
		</p>
	</div>

	<div data-aos="fade-right">
		<p>Parmi mes réalisations notables, je compte la création du site internet "Sensation" pour ma sœur, démontrant mon engagement à apporter des solutions numériques créatives et personnalisées à mes clients.</p>
	</div>
	<div data-aos="fade-left">
		<p>photo</p>
	</div>
	<p>Ma philosophie professionnelle est centrée sur l'apprentissage continu et l'adaptabilité. Je crois fermement que chaque projet est une opportunité d'innover et d'améliorer mes compétences, tout en offrant une valeur exceptionnelle à mes clients et à mes utilisateurs.</p>
{% endblock %}
