{% extends 'base.html.twig' %}

{% block title %}Mes services - Carette Axel{% endblock %}

{% block body %}
<h1> Mes services </h1>
<p>Que ce soit pour la création de sites vitrines, de blogs, de sites d'e-commerce ou même pour l'amélioration de votre projet actuel, je m'adapte à vos besoins.</p>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ asset('asset/img/sensationlogo.png') }}" alt="Logo Sensations Coaching">
  <div class="card-body">
    <h5 class="card-title">Sensations Coaching</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="https://sensations-coaching.com/" class="btn btn-info">Sensations-Coaching</a>
  </div>
</div>
{% endblock %}
